
body{
    font-weight: 300;
    /* text-align: center; */
}

div{
    background-color: yellow;
    height: 20px;
    width: 20px;
    /* border: 1px solid black; */
} 

.grid{
    background-color: aqua;
    height: 400px;
    width: 200px;
    display: flex;
    flex-wrap: wrap;

}

.previous-grid{
    height: 80px;
    width: 80px;
    display:flex ;
    flex-wrap:wrap ;
}

.previous-shape{
    height: 120px;
    width:120px ;
}

.block{
    background-color: blue;
}

.block2{
    background-color: blueviolet;
}

.block3{
    background-color: green;

}

.game{
    margin-top: 67px;
}